.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-muted);
  padding-bottom: 2rem;
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
