.container {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.leftContainer {
  width: 55%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://images.unsplash.com/photo-1461301214746-1e109215d6d3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

@media (max-width: 992px) {
  .leftContainer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .leftContainer {
    display: none;
  }
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1,
.header p {
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.header p {
  color: var(--text-muted);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.form input {
  padding: 0.5rem 1rem;
  border: var(--border);
  box-shadow: var(--shadow);
}

.form button {
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  box-shadow: var(--shadow);
}

.form button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ccc;
}

.redirect {
  color: var(--text-muted);
  margin-top: 1rem;
  text-align: center;
}

.redirect a {
  color: var(--text-muted);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  font-weight: bold;
}

.redirect a:hover {
  color: black;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-danger);
  font-size: 0.875rem;
}

.nameContainer {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.nameContainer input {
  width: 50%;
}
