.login {
  display: flex;
  height: calc(100vh - 71px);
}

.leftContainer {
  width: 60%;
  background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.rightContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1,
.header p {
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.header p {
  line-height: 1.25rem;
  color: #71717a;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.form input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: black;
  color: white;
  cursor: pointer;
}

.signup {
  line-height: 1.25rem;
  color: #71717a;
  margin-top: 1rem;
  text-align: center;
}

.signup a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
