.searchContainer {
  display: flex;
  gap: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: text;
}

.searchContainer:focus-within {
  border: 1px solid #ccc;
}

.searchContainer:focus-within .iconContainer {
  color: var(--text-color);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.filters input[type="date"] {
  border: var(--border);
}

.separator {
  margin: 3rem 0;
  border: none;
  height: 1px;
  background-color: var(--border-color);
}
