.searchInput {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.filters input[type="date"] {
  border: var(--border);
}

.separator {
  margin: 3rem 0;
  border: var(--border);
}
