.username {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.username svg {
  fill: var(--primary-bg-color);
  opacity: 0.8;
}

.message {
  padding: 1.25rem 0;
}

.message:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.messageHeader span {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.messageFooter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.messageFooter button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-muted);
  background-color: transparent;
  padding: 0;
}

.newMessage {
  margin-top: 1rem;
}
