.messagesList {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.message {
  padding: 1rem;
}

.message:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.messageHeader span {
  font-size: 0.8rem;
  color: #666;
}

.replies {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.replies .message {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: #f4f4f4;
  border-bottom: none;
}
