.container {
  display: flex;
  gap: 1rem;
}

.container textarea {
  width: 100%;
  border: var(--border);
  resize: none;
  box-shadow: var(--shadow);
}

.send {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
