.usersList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.user {
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.fullName {
  font-weight: 600;
}

.username {
  font-weight: 400;
  color: var(--text-muted);
}

.unverified {
  color: var(--color-danger);
  font-weight: 500;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.danger {
  background-color: var(--color-danger);
  color: white;
}

.success {
  background-color: var(--color-success);
  color: black;
}

.promote {
  background-color: var(--primary-bg-color);
  color: white;
}
