.container {
  text-align: center;

  background-color: #ffffff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, rgba(255, 255, 255, 0.1) 33px),
    repeating-linear-gradient(rgba(1, 105, 108, 0.2), rgba(1, 105, 108, 0.1));

  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.container > div {
  color: var(--text-muted);
  max-width: 450px;
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  color: var(--primary-bg-color);
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
