.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: var(--border);
}

.ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul > li > a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: var(--border-radius);
}

.ul svg {
  height: 24px;
  width: 24px;
}

.ul > li > a:hover,
.ul > li > button:hover {
  background-color: var(--button-bg-color);
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoLink img {
  height: 40px;
}

@media (max-width: 768px) {
  .container {
    z-index: 100;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: var(--border);
    padding: 0;
  }

  .logoLink {
    display: none;
  }

  .container nav {
    width: 100%;
  }

  .ul {
    justify-content: space-around;
  }

  .ul > li > a {
    padding: 1.5rem;
  }

  .ul > li > a:hover {
    background-color: unset;
  }
}
