:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --text-color: #333;
  --text-muted: #71717a;
  --border-radius: 12px;
  --border-color: #eaeaea;
  --border: 1px solid var(--border-color);
  --shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  --primary-bg-color: #01696c;
  --primary-text-color: #fff;
  --secondary-bg-color: #fe9693;
  --secondary-text-color: #333;
  --button-bg-color: #f4f4f4;

  --color-danger: #cc0000;
  --color-success: #22c55e;

  --header-height: 72px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
}

main {
  min-height: calc(100vh - var(--header-height));
}

main,
.spacing {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

button {
  cursor: pointer;
  font-weight: 500;
  border: none;
  transition: transform 0.2s ease;
  background-color: var(--button-bg-color);
}

button:has(svg),
a:has(svg) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:active {
  transform: scale(0.98);
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
